# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
env/
venv/
ENV/

# Airflow
airflow-venv/
logs/
airflow-webserver.pid
*.db
*.sqlite

# AWS / creds
*.pem
*.key
*.json

# IDE / OS
.vscode/
.idea/
.DS_Store
